---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');


// ***** VARIABLES *****
$primaryColor: #4B6881;
$secondaryColor: #76A84D;
$darkAccentColor: #F5EFDE;
$lightAccentColor: #F5EFE4;
$redColor: #F05D5E;
$darkGrayColor: #50514F;
$lightGrayColor: #E5E5E5;
$whiteColor: #FFFEFC;






// ***** THEME OVERRIDES *****

body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: $darkGrayColor;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    width: 100%;
    margin: 0;
}


header { 
    display: block;
    float: none;
    width: 100%;
    position: relative;

    ul {
        list-style: none;
        height: auto;
        padding: 0;
        background: none;
        border-radius: 0;
        border: 0;
        width: auto;

        a { 
            line-height: 28px;
            font-size: 18px;
            font-weight: 700; 
            color: $lightGrayColor;
            display: inline-block;
            text-align: left;
            padding-top: 0;
            height: auto;
            border-radius: 8px;
        }
        a:hover { color: $lightGrayColor; }
        a:active { color: $primaryColor; background: $lightGrayColor; }
    }
    li, ul li+li+li {
        width: auto;
        float: none;
        border-right: 0;
        height: auto;
    }
    li:first-child a, li:last-child a { border-radius: 8px; }
}

section {
    width: 100%;
    float: none;
    max-width: 1024px;
    margin: 0 auto;
}

footer {
    width: 100%;
    max-width: 1024px;
    float: none;
    position: relative;
    bottom: 0;
    -webkit-font-smoothing: antialiased;
}



// ***** NEW STYLES *****
header{
    background: $primaryColor;
    position: sticky;
    top: 0;
    margin-bottom: 40px;

    a { color: $lightGrayColor; }

    img { display: inline-block; }
    
    h1 { display: inline-block; }

    ul {
        list-style: none;
        margin: 0 0 0 40px;
        display: inline-block;

        a { text-decoration: none; }
        
        li {
            display: inline-block;
            padding-right: 24px;

            a:hover { 
                text-decoration: underline; 
                color: $lightGrayColor;
            }
        }
    }
} 

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}




// ***** HACKS ******

// Button
h6 a {
    padding: 16px 32px;
    background: $primaryColor;
    color: $whiteColor;
    font-size: 20px;
    line-height: 24px;
    border-radius: 16px;
}