---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Roboto&display=swap');


// ***** VARIABLES *****
$primaryColor: #2C5D9C;
$lightAccentColor: #D5DFEB;
$darkGrayColor: #6C7B8B;
$lightGrayColor: #F0F1F3;
$whiteColor: #FFFFFF;
$blackColor: #000000;






// ***** THEME OVERRIDES *****

body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 32px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: $blackColor;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    width: 100%;
    margin: 0;
}


header { 
    display: block;
    float: none;
    width: 100%;
    position: relative;

    ul {
        list-style: none;
        height: auto;
        padding: 0;
        background: none;
        border-radius: 0;
        border: 0;
        width: auto;

        a { 
            line-height: 28px;
            font-size: 18px;
            font-weight: 700; 
            color: $lightGrayColor;
            display: inline-block;
            text-align: left;
            padding-top: 0;
            height: auto;
            border-radius: 8px;
        }
        a:hover { color: $lightGrayColor; }
        a:active { color: $primaryColor; background: $lightGrayColor; }
    }
    li, ul li+li+li {
        width: auto;
        float: none;
        border-right: 0;
        height: auto;
    }
    li:first-child a, li:last-child a { border-radius: 8px; }
}

section {
    width: 100%;
    float: none;
    max-width: 1024px;
    margin: 0 auto;
}

footer {
    width: 100%;
    float: none;
    position: relative;
    bottom: inherit;
    -webkit-font-smoothing: antialiased;
}


@media print, screen and (max-width: 960px) {
    header ul {
        position: inherit;
        right: inherit;
        top: inherit;
    }
    section {
        border: inherit;
        border-width: inherit;
        padding: inherit;
        margin: inherit;
    }
}

@media print, screen and (max-width: 720px) {
    header ul, header p.view {
        position: inherit;
    }
}

@media print, screen and (max-width: 480px) {
    header ul {
        width: inherit;
    }
}

// ***** NEW STYLES *****
a {
    color: $primaryColor;
}
a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 32px;
}
h2 {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 16px;
}
h3 {
    font-weight: 600;
    font-size: 32px;
    color: $darkGrayColor;
    margin-bottom: 8px;
}
h4 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
}
h5 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 8px;
}
h6 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 4px;
}

p {
    margin-bottom: 24px;
}


header{
    background: $primaryColor;
    position: sticky;
    top: 0;
    margin-bottom: 56px;
    padding: 24px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    box-sizing: border-box;

    a { color: $lightGrayColor; }

    img { display: inline-block; }
    
    h1 { 
        display: inline-block; 
        margin-bottom: 0; 
        font-size: 24px; 
        font-family: 'Roboto', sans-serif; 
        font-weight: 500;
    }

    > div:last-child {
        text-align: right;
    }

    ul {
        list-style: none;
        margin: 0 0 0 40px;
        display: inline-block;

        a { 
            text-decoration: none; 
            font-weight: 500; 
        }
        
        li {
            display: inline-block;
            padding-right: 24px;

            a:hover { 
                text-decoration: underline; 
                color: $lightGrayColor;
            }
        }
        li:last-child { padding-right: 0; }
    }
} 

section {
    box-sizing: border-box;
}

footer {
    padding: 80px 0;
    box-sizing: border-box;
    background: $lightGrayColor;
    
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        max-width: 1024px;
        margin: 0 auto;
    }
}






// ***** MEDIA QUERIES *****
@media screen and (max-width: 1024px) {
    header, footer .container {
        grid-template-columns: auto;
    }
    section, footer {
        padding: 24px;
    }
}




// ***** HACKS ******

// Button
h6 a, .button {
    padding: 16px 32px;
    background: $primaryColor;
    color: $whiteColor;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 16px;
}