---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');


// ***** VARIABLES *****
$primaryColor: #247BA0;
$secondaryColor: #70C1B3;
$darkAccentColor: #FFE066;
$lightAccentColor: #F5EFE4;
$redColor: #F05D5E;
$darkGrayColor: #50514F;
$lightGrayColor: #E5E5E5;
$whiteColor: #FFFEFC;






// ***** THEME OVERRIDES *****

.wrapper {
    width: 100%;
    margin: 0;
}


header { 
    display: block;
    float: none;
    width: 100%;
    position: relative;
}

section {
    width: 100%;
    float: none;
    max-width: 1024px;
    margin: 0 auto;
}





// ***** NEW STYLES *****
body {
    font-family: Roboto, sans-serif;
    color: $darkGrayColor;
}





h1 a {
    padding: 30px;
    background: $primaryColor;
}