<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>
    {% assign is_home = page.body_class | default: "" | split: " " | where_exp: "c", "c == 'home'" %}
    {% if is_home.size > 0 %}
      {% include site-header.html %}
      <main class="home-main">
        {{ content }}
      </main>
      {% include site-footer.html %}
    {% else %}
    {% include content-header.html %}
    <div class="wrapper">
      <section>

      {{ content }}

      {% if page.author != null %}
        <p class="subtext">
          Created by: <strong>{{ page.author }}</strong> {% if page.last-updated-by != null %} | Last updated by: <strong>{{ page.last-updated-by }}</strong>{% endif %}
        </p>
      {% endif %}

      </section>

    </div>
    {% include site-footer.html %}
    {% endif %}
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

  </body>
</html>
